
body{
  background-color: #f2f3f7;
}
.login-container {
  min-height: 92vh;
}
.login-form-box {
  flex: 1;
  min-height: 100%;
  max-width: 500px;
}
@media (max-width: 768px) {
  .login-box {
    max-width: 500px !important;
  }
}
.login-box {
  background-color: #102542;
  flex: 1;
  min-height: 100%;
  max-width: 600px;
}
.login-image-box {
max-width:350px;
min-width: 200px;
  min-height: 100%;
  mask-image: linear-gradient(black 80%, transparent );
}
.login-banner-box{
  color: #ffffffe7; 
  font-family:  "Helvetica Neue"; 
}
.login-banner-icon {
  max-width: 130px;
  max-height: 40px;;
  min-width: 100px;
  padding: 5px;
  color: #ffffffe7; 
  font-family:  "Helvetica Neue";  
}
.text-color{
  color: #ffffffe7;
}
.text-font{
  font-family:  "Helvetica Neue"; 
}
.button-color{
  background-color: #102542;
}

.link-color{
  color: #f5a315;
  font-family:  "Helvetica Neue";
  font-size: 13px;
  text-decoration: none;
}

.login-logos{
  max-width: 24px;
  min-width: 15px;
  max-height: 20px;
  min-height: 20px;
}
.login-logos-box{
    border:1px solid #e7e4e4;
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 4px;
    width: 102px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* navbar */
.bg-btn-navbar{
  background-color: #efefef;
  height: 24px;
  border-radius: 15px;
}
.bg-btn-active,
.btg-bnt-inactive {
  width: 100px; 
  text-decoration: none;
  border-radius: 10px;
  font-family: "Helvetica Neue";
  text-align: center;
  color: #ffffffe7;
  display: block;
  transition: background-color 0.3s ease;
}

.bg-btn-active {
  background-color: #ffffffe7;
  color: #000000;
}

.btg-bnt-inactive {
  color : #000;
}

.userinfo{
  background-color: #fdfdfd;
}
/* carousel */
.button-carousel {
  background-color: #fdfdfd;
  color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carousel-container {
  display: flex;
  position: relative;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
  flex-grow: 1;
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.carousel-card {
  flex: 0 0 auto;
  min-width: 230px;
}

.card-carousel{
  max-width: 230px;
  min-width: 200px;
}

.button-card{
  text-align: center;
  text-decoration: none;
  width: 100px;
  max-height: 30px;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffffe7;
}

/* table */


.table-container{
  align-items: center;
  background-color: #fdfdfd !important;
  border-radius: 16px !important;
  padding-left: 1rem;
  padding-right: 1rem; 
}


.table-modern th {
  background-color: #fdfdfd !important;
  text-align: left;
  color: #f5a315 !important;
}

.table-modern td {
  background-color: #fdfdfd !important;
  vertical-align: left;
  font-size: 13px;
}

.container-table{
  max-width: 650px;
}
/* card paciente */
.card-cuerpo{
  color: #f5a315;
  font-size: 24px;
}
.card-container{
  background-color: #fdfdfd;
}

/* grafico de barra */
.barchar-container{
  display: flex;
  align-items: center;
  background-color: #fdfdfd !important;
   border-radius: 16px !important;
  padding: 1rem;
}

.button{
  border: none;
  background-color: #102542;
  max-width: 100px;
  max-height: 30px;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffffe7;
}

.radial-chart{
 display: flex; 
 align-items:center;
 margin-top: 2.8rem;
 min-height: 405px;
}

@media (max-width: 767.98px) {
  .radial-chart {
    margin-top: 0.7rem !important;
  }
}

.input-search{
  margin-top: 5px;
  max-height: 30px;
  border: 1px solid #102542;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 14px;
  color: #ffffffe7;
}

/* calendario */
.calendar-container{
  background-color: #fdfdfd !important;
  border-radius: 16px !important;
  padding: 0.8rem;
}
.left-panel {
  padding: 0.7rem;
  background-color: #fdfdfd;
  border-radius: 16px;
  max-height: 485px;
  overflow-y: auto;

}
.left-panel::-webkit-scrollbar {
  width: 0.2px; /* 👈 Ancho del scroll */
}
.cita-card {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;;
}

.hora {
  font-size: 0.85rem;
  color: #475569;
  margin-bottom: 0.3rem;
  display: inline;
}

.circle { 
  width: 10px;     /* diámetro del círculo */
  height: 10px;
  background-color: #102542; /* color del círculo (tomate) */
  border-radius: 50%;  
   display: inline-block;     
              
}

.rbc-toolbar {
  display: none;
}

.select-calendar{
  width: 80px;
  text-transform: capitalize;
  background-color: #102542;
  color: #ffffffe7;
  border-radius: 16px;
  font-size: 13px;
  height: 32px;
  text-align: center;  
  line-height: 1.2;
  
}


.rbc-month-view .rbc-date-cell {
  font-size: 13px; /* Tamaño de los números */
  color: #333;
}

.rbc-event {
  font-size: 12px;
  margin-left: 2px;
  margin-bottom: 3px;
  width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #efefef;
  color: #000000;
  text-align: center;
  border-radius: 16px;
}
.rbc-selected {
  background-color: #102542 !important; /* igual que el normal */
  color: #ffffffe7;
}

.rbc-show-more {
  color: #102542; 
  margin-left: 2px;
  background-color: #efefef;
  border-radius: 16px;
  font-size: 12px;
 width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  text-align: center;
  cursor: pointer;  
}

@media (max-width: 767.98px) {
  .rbc-event {
    font-size: 0; /* Oculta texto */
    width: 8px;
    height: 8px;
    background-color: #102542;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 20px;
    }
   .rbc-show-more {
    font-size: 0; /* Oculta texto */
    
  }
}

.pagination-btn {
  margin-top: 22px;
  text-align: center;  
  width: 25px;                
  height: 25px;               
  line-height: 20px;
  font-size: 13px;
  padding: 0px;  
  background-color: transparent !important;
  border: none !important;
  color: #000 !important; 
 
}

.pagination-btn.active,
.pagination .page-item.active .page-link {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 9px;
}
