
body{
  background-color: #f2f3f7;
}
.login-container {
  min-height: 92vh;
}
.login-form-box {
  flex: 1;
  min-height: 100%;
  max-width: 500px;
}
@media (max-width: 768px) {
  .login-box {
    max-width: 500px !important;
  }
}
.login-box {
  background-color: #102542;
  flex: 1;
  min-height: 100%;
  max-width: 600px;
}
.login-image-box {
max-width:350px;
min-width: 200px;
  min-height: 100%;
  mask-image: linear-gradient(black 80%, transparent );
}
.login-banner-box{
  color: #ffffffe7; 
  font-family:  "Helvetica Neue"; 
}
.login-banner-icon {
  max-width: 130px;
  max-height: 40px;;
  min-width: 100px;
  padding: 5px;
  color: #ffffffe7; 
  font-family:  "Helvetica Neue";  
}
.text-color{
  color: #ffffffe7;
}
.text-font{
  font-family:  "Helvetica Neue"; 
}
.button-color{
  background-color: #102542;
}

.link-color{
  color: #f5a315;
  font-family:  "Helvetica Neue";
  font-size: 13px;
  text-decoration: none;
}

.login-logos{
  max-width: 24px;
  min-width: 15px;
  max-height: 20px;
  min-height: 20px;
}
.login-logos-box{
    border:1px solid #e7e4e4;
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 4px;
    width: 102px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* navbar */
.bg-btn-navbar{
  background-color: #efefef;
  height: 24px;
  border-radius: 15px;
}
.bg-btn-active,
.btg-bnt-inactive {
  width: 90px; 
  text-decoration: none;
  border-radius: 10px;
  font-family: "Helvetica Neue";
  text-align: center;
  color: #ffffffe7;
  display: block;
  transition: background-color 0.3s ease;
}

.bg-btn-active {
  background-color: #ffffffe7;
  color: #000000;
}

.btg-bnt-inactive {
  color : #000;
}

.userinfo{
  background-color: #fdfdfd;
}
/* carousel */
.button-carousel {
  background-color: #fdfdfd;
  color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carousel-container {
  display: flex;
  position: relative;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
  flex-grow: 1;
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.carousel-card {
  flex: 0 0 auto;
  min-width: 230px;
}

.card-carousel{
  max-width: 230px;
  min-width: 200px;
}

.button-card{
  text-align: center;
  text-decoration: none;
  width: 100px;
  max-height: 30px;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffffe7;
}

/* table */
.container-table{
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
}

.table-container{
  align-items: center;
  background-color: #fdfdfd !important;
   border-radius: 16px !important;
  padding: 1.2rem;
    padding-left: 4rem;
        padding-right: 3rem; 
}


.table-modern th {
  width: "140px";
  text-align: left;
  color: #f5a315 !important;
}

.table-modern td {
  vertical-align: left;
  font-size: 14px;
}

.container-table{
  max-width: 650px;
}
/* card paciente */
.card-cuerpo{
  color: #f5a315;
  font-size: 24px;
}
.card-container{
  background-color: #fdfdfd;
}

/* grafico de barra */
.barchar-container{
  background-color: #fdfdfd !important;
   border-radius: 16px !important;
  padding: 1rem;
}

.button-receta{
  border: none;
  background-color: #102542;
  max-width: 100px;
  max-height: 30px;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffffe7;
}


 
